Repository dswistowski/radegast: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, lint, unittests

.pre-commit-config.yaml:

# See http://pre-commit.com for more information
# See http://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.9.0
    hooks:
    -   id: reorder-python-imports
        args: ['--py37-plus']

-   repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
    - id: black
      language_version: python3

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: debug-statements
    -   id: requirements-txt-fixer

-   repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.1.0
    hooks:
    #  Analyze your Python requirements for known security vulnerabilities
    -   id: python-safety-dependencies-check

-   repo: local
    hooks:
    -   id: mypy
        name: typecheck files
        entry: python -m mypy --config-file setup.cfg
        language: system
        types: [python]
        exclude: >
            (?x)^(
                ((tests|docs)/.+|setup.py)
            )$

-   repo: local
    hooks:
    -   id: lint
        name: lint files
        entry: make lint
        language: system
        types: [python]

-   repo: local
    hooks:
    -  id: unittests
       name: unittests
       entry: bash -c "python -m pytest tests/"
       language: system
       types: [python]
       pass_filenames: false

fix travis password
  .travis.yml
Due: none

add new code
  examples/__init__.py
  examples/reqres.py
  radegast/__init__.py
  setup.py
Due: mypy, lint, unittests

add missing test
  tests/test_regres.py
Due: lint, unittests

first usable version
  examples/reqres.py
  radegast/__init__.py
  setup.py
  tests/test_regres.py
Due: mypy, lint, unittests

drop python 3.7 support
  .travis.yml
  setup.py
  tox.ini
Due: lint, unittests

first usable version (#94)
  .travis.yml
  examples/__init__.py
  examples/reqres.py
  radegast/__init__.py
  setup.py
  tests/test_regres.py
  tox.ini
Due: mypy, lint, unittests

add bumpversion config
  .bumpversion.cfg
Due: none

Bump version: 0.1.0 → 0.2.0
  .bumpversion.cfg
  setup.py
Due: lint, unittests
